AZURE_OPENAI_API_KEY=API_KEY
AZURE_OPENAI_ENDPOINT=https://test.openai.azure.com/
AZURE_OPENAI_API_VERSION=2024-12-01-preview


AZURE_OPENAI_CHAT_DEPLOYMENT=gpt-4o-mini
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=text-embedding-3-small

ENABLE_QUERY_REWRITE=true
ENABLE_RERANKING=true

DATA_DIR=data/raw
INDEX_DIR=data/index
